@import '../../index.scss';
.main_container{
    background-color:  #000000;
    margin-top: 8rem;
    height: 67vh;
    @include media("mobileonly") {
        height: 100vh;
    }
    .img_container{
        position: relative;
        img{
            width: 70%;
            height: auto;
            position: relative;
            left: 15%;
            bottom: 30px;
          
        
        }
    }
    .text_container{
       padding: 2rem 2rem 2rem 0rem;
       @include media("mobileonly") {
        padding: 1rem;
    }
        p{
            font-size: 18px;
            color: #ffff;
            font-weight: 400;
            padding-top: 1rem;
        }
        h1{
            font-size: 24px;
            color: #ffff;
            font-weight: 500;
            padding-top: 1rem;

        }
    }
}